# Spark SQL Commands

In [1]:
path = 'wongnai.csv'

In [2]:
df = spark.read.csv(path, header=True)

In [3]:
df.show()

+---+---+--------------------+-----------+-------+------------------+------------------+-----------+---------+-------------------+----------------------------+---+---------------+------------------+------------------+
|_c0| id|                name|category_id|city_id|          latitude|         longitude|price_range|avg_price|number_of_bookmarks|number_of_favorite_bookmarks|top|best_of_wongnai|number_of_checkins|    all_time_score|
+---+---+--------------------+-----------+-------+------------------+------------------+-----------+---------+-------------------+----------------------------+---+---------------+------------------+------------------+
|  0|  2|         บ้านกลมกิ๊ก|        3.0|    1.0|13.738961999999999|        100.550248|        2.0|    175.0|                294|                          84|  1|           null|                32| 22487.87235772358|
|  1|  3|โรงเบียร์เยอรมันต...|       33.0|    1.0|          13.84232|        100.634959|        3.0|     null|                  2|                           2|  0|           null|                 0|              92.9|
|  2|  4|             Kosirae|       43.0|    1.0|13.724998999999999|100.57971500000001|        3.0|    375.0|               3405|                         989|  1|           66.0|               173|239274.95038973386|
|  3|  5|Ho Kitchen Seafoo...|       29.0|    1.0|13.687332514024973|100.55081699140169|        3.0|     null|                 94|                          24|  0|           null|                21| 13307.51275471698|
|  4|  6| Barley Bistro & Bar|        3.0|    1.0|13.726498999999999|        100.529425|        3.0|    375.0|                249|                         146|  1|           null|                14|19606.094679802958|
|  5|  7|             Sirocco|       53.0|    1.0|         13.721769|        100.516887|        5.0|   1500.0|               1653|                         596|  1|          113.0|                27|         207255.72|
|  6|  8|           Steak Bkk|        8.0|    1.0|13.728473000000001|        100.657228|        2.0|     null|                  6|                           6|  0|           null|                 3|              -1.0|
|  7|  9|Peony Teafe' & Ga...|       24.0|    1.0|         13.725478|100.53805899999999|        2.0|     null|                596|                         416|  1|           null|                25|              -1.0|
|  8| 10|        คิวซัง ราเมน|        2.0|    1.0|13.728745000000002|        100.657078|        2.0|     null|                 32|                          27|  1|           null|                10|              -1.0|
|  9| 14|  เจ๊โอว ข้าวต้มเป็ด|       56.0|    1.0|13.742517000000001|        100.522513|        1.0|     50.0|               3643|                         670|  1|           36.0|               316|229334.21465809466|
| 10| 15|     Author's Lounge|       14.0|    1.0|         13.723915|100.51439599999999|        4.0|   1500.0|                105|                          32|  0|           null|                10|15779.146024096384|
| 11| 16|         Oldies Cafe|       33.0|    1.0|13.732548000000001|100.53064599999999|        1.0|     null|                 40|                           7|  0|           null|                45|6699.3439192734595|
| 12| 17|       Spicy Kitchen|        8.0|    1.0|13.735585999999998|        100.562015|        2.0|     null|                  1|                           1|  0|           null|                 0|              -1.0|
| 13| 18| Another Hound Café |        5.0|    1.0|13.746245618737026|100.53452228902437|        3.0|      0.0|                279|                         155|  1|           null|                82|              -1.0|
| 14| 19|ข้าว ยำ ตำ เตี๋ยว...|       28.0|    1.0|         13.745017|         100.53205|        2.0|     null|                 24|                          23|  0|           null|                 3|              -1.0|
| 15| 20|เฮียตือหูฉลาม เยา...|       12.0|    1.0|13.740236999999999|100.51025200000001|        2.0|    175.0|                757|                         336|  1|           null|                64|49635.059675675686|
| 16| 21|โกอ่างข้าวมันไก่ป...|       36.0|    1.0|13.749554000000002|        100.541917|        1.0|     50.0|               1245|                         355|  1|           null|               193|102906.29838655461|
| 17| 22|    Tonkatsu Rakutei|        2.0|    1.0|         13.742392|100.57179000000001|        3.0|     null|                 15|                          15|  0|           null|                 0|              -1.0|
| 18| 23|Sambuca Pizzeria ...|        5.0|    1.0|        13.7145685|        100.532424|        3.0|     null|                 17|                          15|  0|           null|                 1|              -1.0|
| 19| 24|      ภัตตาคารจานทอง|        4.0|    1.0|         13.784069|         100.36361|        3.0|     null|                 39|                          10|  0|           null|                 4| 4084.008301886792|
+---+---+--------------------+-----------+-------+------------------+------------------+-----------+---------+-------------------+----------------------------+---+---------------+------------------+------------------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- price_range: string (nullable = true)
 |-- avg_price: string (nullable = true)
 |-- number_of_bookmarks: string (nullable = true)
 |-- number_of_favorite_bookmarks: string (nullable = true)
 |-- top: string (nullable = true)
 |-- best_of_wongnai: string (nullable = true)
 |-- number_of_checkins: string (nullable = true)
 |-- all_time_score: string (nullable = true)

In [5]:
df.select(df['name'], df['number_of_bookmarks'], df['number_of_bookmarks']*2).show()

+--------------------+-------------------+-------------------------+
|                name|number_of_bookmarks|(number_of_bookmarks * 2)|
+--------------------+-------------------+-------------------------+
|         บ้านกลมกิ๊ก|                294|                    588.0|
|โรงเบียร์เยอรมันต...|                  2|                      4.0|
|             Kosirae|               3405|                   6810.0|
|Ho Kitchen Seafoo...|                 94|                    188.0|
| Barley Bistro & Bar|                249|                    498.0|
|             Sirocco|               1653|                   3306.0|
|           Steak Bkk|                  6|                     12.0|
|Peony Teafe' & Ga...|                596|                   1192.0|
|        คิวซัง ราเมน|                 32|                     64.0|
|  เจ๊โอว ข้าวต้มเป็ด|               3643|                   7286.0|
|     Author's Lounge|                105|                    210.0|
|         Oldies Cafe|                 40|                     80.0|
|       Spicy Kitchen|                  1|                      2.0|
| Another Hound Café |                279|                    558.0|
|ข้าว ยำ ตำ เตี๋ยว...|                 24|                     48.0|
|เฮียตือหูฉลาม เยา...|                757|                   1514.0|
|โกอ่างข้าวมันไก่ป...|               1245|                   2490.0|
|    Tonkatsu Rakutei|                 15|                     30.0|
|Sambuca Pizzeria ...|                 17|                     34.0|
|      ภัตตาคารจานทอง|                 39|                     78.0|
+--------------------+-------------------+-------------------------+
only showing top 20 rows

In [6]:
df.filter(df['avg_price'] > 100).select('name', 'avg_price').show()

+--------------------+---------+
|                name|avg_price|
+--------------------+---------+
|         บ้านกลมกิ๊ก|    175.0|
|             Kosirae|    375.0|
| Barley Bistro & Bar|    375.0|
|             Sirocco|   1500.0|
|     Author's Lounge|   1500.0|
|เฮียตือหูฉลาม เยา...|    175.0|
|   NARA Thai Cuisine|    175.0|
|ครัวเจ๊ง้อ สาขา4 ...|    750.0|
|           Ramen Tei|    175.0|
|           Silk Road|   1500.0|
|Volti Restaurant ...|   1500.0|
|                 Aoi|   1500.0|
|                 Aoi|   1500.0|
|       BLUE ELEPHANT|    375.0|
|           Rio Grill|    375.0|
|          Cafe Casta|    750.0|
|New Cosmo Thai Se...|    375.0|
|Dynasty Centara G...|   1500.0|
|East Ocean Chines...|    750.0|
|       The Greatwall|    750.0|
+--------------------+---------+
only showing top 20 rows

In [29]:
top_cat = df.groupBy('category_id').count().orderBy('count', ascending=False)
top_cat.show()

+-----------+-----+
|category_id|count|
+-----------+-----+
|        3.0|39458|
|       14.0|29813|
|       30.0|29759|
|       37.0|24307|
|       36.0|15255|
|       34.0|13518|
|       12.0| 7959|
|       24.0| 7744|
|       35.0| 7620|
|       23.0| 7009|
|        4.0| 6860|
|       29.0| 6794|
|       21.0| 6381|
|       15.0| 5828|
|        2.0| 5713|
|       20.0| 5105|
|       33.0| 4045|
|       28.0| 3923|
|       18.0| 3828|
|       25.0| 3780|
+-----------+-----+
only showing top 20 rows

In [14]:
import pandas as pd
cat_df = pd.read_csv('cat_id.csv', names=('id', 'category'), dtype=(str, str))
cat_df

    id     category
0    2     Japanese
1    3         Thai
2    4      Chinese
3    5      Italian
4    6       Korean
5    7      Vietnam
6    8     American
7    9       French
8   10       Indian
9   11       Buffet
10  12  Street Food
11  13  Fusion Food
12  14  Coffee Shop
13  15       Others

In [15]:
cat_df.id = cat_df.id + '.0'
cat_df

      id     category
0    2.0     Japanese
1    3.0         Thai
2    4.0      Chinese
3    5.0      Italian
4    6.0       Korean
5    7.0      Vietnam
6    8.0     American
7    9.0       French
8   10.0       Indian
9   11.0       Buffet
10  12.0  Street Food
11  13.0  Fusion Food
12  14.0  Coffee Shop
13  15.0       Others

In [16]:
cat_mapping = cat_df.set_index('id').to_dict()['category']
cat_mapping

{'2.0': 'Japanese',
 '3.0': 'Thai',
 '4.0': 'Chinese',
 '5.0': 'Italian',
 '6.0': 'Korean',
 '7.0': 'Vietnam',
 '8.0': 'American',
 '9.0': 'French',
 '10.0': 'Indian',
 '11.0': 'Buffet',
 '12.0': 'Street Food',
 '13.0': 'Fusion Food',
 '14.0': 'Coffee Shop',
 '15.0': 'Others'}

In [22]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [36]:
def category_mapping(cat_id): 
    if cat_id in cat_mapping:
        return cat_mapping[cat_id]
    else:
        return 'Unknown'

to_category = udf(category_mapping, StringType())

In [37]:
new_top_cat = top_cat.withColumn('category', to_category(top_cat.category_id))
new_top_cat.show()

+-----------+-----+-----------+
|category_id|count|   category|
+-----------+-----+-----------+
|        3.0|39458|       Thai|
|       14.0|29813|Coffee Shop|
|       30.0|29759|    Unknown|
|       37.0|24307|    Unknown|
|       36.0|15255|    Unknown|
|       34.0|13518|    Unknown|
|       12.0| 7959|Street Food|
|       24.0| 7744|    Unknown|
|       35.0| 7620|    Unknown|
|       23.0| 7009|    Unknown|
|        4.0| 6860|    Chinese|
|       29.0| 6794|    Unknown|
|       21.0| 6381|    Unknown|
|       15.0| 5828|     Others|
|        2.0| 5713|   Japanese|
|       20.0| 5105|    Unknown|
|       33.0| 4045|    Unknown|
|       28.0| 3923|    Unknown|
|       18.0| 3828|    Unknown|
|       25.0| 3780|    Unknown|
+-----------+-----+-----------+
only showing top 20 rows